version: '3.8'

services:
  ib-gateway:
    image: ghcr.io/gnzsnz/ib-gateway:stable
    container_name: ibx-gateway
    restart: always
    # 如果在 Mac M1/M2 上运行，取消下面这一行的注释以模拟 amd64 环境
    # platform: linux/amd64
    ports:
      - "4002:4002"   # API 模拟盘端口
      - "4001:4001"   # API 实盘端口
      - "5900:5900"   # VNC 远程桌面端口 (用于手动登录/排错)
      - "5800:5800"   # Web-VNC 端口 (浏览器直接访问)
    environment:
      - TWS_USERID=${IB_ACCOUNT}
      - TWS_PASSWORD=${IB_PASSWORD}
      - TRADING_MODE=${TRADING_MODE:-paper} # 默认为模拟盘
      - VNC_SERVER_PASSWORD=${VNC_PASSWORD:-123456}
      - TWS_ACCEPT_EULA=yes
    volumes:
      - ./data/ib-conf:/home/ibgateway/conf
      # 如果你有自定义的 IBC 配置，可以映射下面这一行
      # - ./config/ibc/config.ini:/home/ibgateway/ibc/config.ini